.editPanel {
    div {
        margin-right: 10px;
    }
    overflow-y: auto;
    h2 {
        margin: 0px 0px 5px 0px;
    }
    .info {
        border: solid 1px #999;
        padding: 2px 8px;
        margin-top: 12px;
        box-shadow: 4px 4px 4px #999;
    }
    .heading {
        margin-top: 8px;
        font-size: 1.2em;
        font-weight: bold;
    }
    .infoblock {
        border: solid 1px #999;
        padding: 2px 8px;
        .propValue {
            display: inline-block;
            max-width: 310px;
        }
        box-shadow: 4px 4px 4px #999;
        h3 {
            margin-top: 0px;
        }
    }
    label {
        vertical-align: top;
        display: inline-block;
        width: 84px;
        font-weight: bold;
    }
    .personenListeOuter {
        margin-top: 10px;
    }
    .adminPanel {
        border: 1px solid #888;
        background-color: #e0ffe0;
        padding: 8px;
        box-shadow: 5px 5px 5px #888;
        margin-top: 10px;
        margin-bottom: 10px;
        .btn {
            padding-left: 8px;
            padding-right: 8px;
            height: 30px;
            margin: 3px 0px;
            text-align: center;
            &:hover {
                background-color: white;
            }
        }
        &:hover .btn {
            border-color: #888;
        }
    }
}