.editPanel {
    overflow-y: auto;

    div {
        margin-right: 10px;
    }

    h2 {
        margin: 0px 0px 5px 0px;
    }

    .heading {
        margin-top: 8px;
        font-size: 1.2em;
        font-weight: bold;
    }

    label {
        display: inline-block;
        width: 220px;
        font-weight: bold;
    }
}