@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.scopeSelector {
  .label {
    display: block;
    margin: 10px 10px 10px 0px;
    float: left;
  }

  .choices {
    float: left;
    display: block;
    margin-bottom: 10px;
  }
}